.footer {
    border-top: 1px solid #EDEDED;
    /* height: 60px; */
    padding-bottom: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #2f2f2f;
}

.footer-text {
    display: inline-block;
    margin-top: 30px;
}