.footer {
    border-top: 1px solid #EDEDED;
    /* height: 60px; */
    padding-bottom: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #262523;
}

.footer-text {
    display: inline-block;
    margin-top: 30px;
}